.stylediv1 {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 0px 0 0px;
    z-index: 1;
}
.about-container {
    position: static;
    max-width: 1320px;
    padding: 0px 15px;
    margin: 0 auto;
}
.stylediv1_all {
    position: relative;
    display: block;
    max-width: 600px;
    width: 100%;
}
.stylediv1_all .sec-title {
    padding-bottom: 31px;
}
.sec-title .sub-title {
    position: relative;
    display: block;
    padding-bottom: 14px;
}
.sec-title .sub-title h6 {
    color: var(--allthimcolor);
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: var(--thm-font);
}
.sec-title h2 {
    color: var(--thm-black);
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    font-family: var(--thm-font-2);
}
.stylediv1_all .sec-title h2 span {
    color: var(--allthimcolor);
}
.stylediv1_all-text {
    position: relative;
    display: block;
}
.stylediv1_all-text p {
    margin: 0;
}
.stylediv1_all-signature {
    position: relative;
    display: block;
    margin-top: 16px;
}
img {
    max-width: 100%;
    height: auto;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
}
.stylediv1_all-list {
    position: relative;
    display: block;
    margin-top: 23px;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.stylediv1_all-list li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.stylediv1_all-list li .icon-box {
    position: relative;
    display: block;
}
.stylediv1_all-list li .icon-box span::before {
    position: relative;
    display: inline-block;
    color: var(--allthimcolor);
    font-size: 18px;
    font-weight: 700;
}
.stylediv1_all-list li .text-box {
    position: relative;
    display: block;
    margin-left: 12px;
}
.stylediv1_all-list li .text-box p {
    color: var(--thm-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}
.stylediv1_all-btn {
    position: relative;
    display: block;
    margin-top: 40px;
    line-height: 0;
}
.stylediv1_all-btn .btn-one {
    box-shadow: 0px 15px 50px rgba(235, 41, 44, 0.3);
}
.btn-one:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    border-radius: 25px;
    background-color: var(--thm-black);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}
.btn-one .txt {
    position: relative;
    z-index: 1;
}
.stylediv1__img {
    position: relative;
    display: block;
    /* margin-left: 30px; */
    /* top: -184px; */
    top: 0px;
    max-width: 600px;
    width: 100%;
    z-index: 1;
}
.stylediv1__img .shape1 {
    position: absolute;
    top: 235px;
    left: 20px;
    z-index: -1;
}
img {
    max-width: 100%;
    height: auto;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
}
.stylediv1__img .shape2 {
    position: absolute;
    top: 90px;
    right: -50px;
    z-index: -1;
}
.stylediv1__img .shape3 {
    position: absolute;
    left: 350px;
    right: -999999px;
    bottom: 100px;
    height: 320px;
    background: var(--allthimcolor);
    content: "";
    z-index: -1;
}
.stylediv1__img {
    position: relative;
    display: block;
}
.stylediv1__img img {
    width: auto;
}
.stylediv1__img .experience-box {
    position: absolute;
    top: 140px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.stylediv1__img .experience-box h2 {
    color: var(--allthimcolor);
    font-weight: 600;
    font-size: 50px;
    line-height: 36px;
    font-family: var(--thm-font-2);
}
.stylediv1__img .experience-box .odometer.odometer-auto-theme, .stylediv1__img .experience-box .odometer.odometer-theme-default {
    font-family: var(--thm-font-2);
    line-height: 0.8em;
}
/* .imgshape3 {
   position: absolute;
    top: 369px;

} */
.imgshape2{
    position: absolute;
    top: 112px;
    left: 401px;
}
.imgshape1{
    position: absolute;
    top: 160px;
}
.btncolorsametem{
    background-color: var(--allthimcolor);
    color: white;
}