.cardsection1 {
    position: relative;
    display: block;
    padding: 0px 0px 90px;
    margin-top: -85px;
    z-index: 10;
}
/* .cardsection1 .div1 {
    position: absolute;
    width: 387px;
    height: 387px;
    left: -148px;
    bottom: -190px;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
    z-index: -1;
} */
.cardsection1 .imagediv2 {
    position: absolute;
    width: 205px;
    height: 197px;
    /* left: 150px; */
    bottom: 15px;
    z-index: -1;
}
img {
    max-width: 100%;
    height: auto;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
}
.devmainds-container {
    position: static;
    max-width: 1320px;
    padding: 0px 15px;
    margin: 0 auto;
}
.cardcontent1 {
    position: relative;
    display: block;
    z-index: 1;
}
.cardbox_one {
    position: relative;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.07);
    padding: 50px 30px 41px;
    overflow: hidden;
    height: 366px;
    border-radius: 15px;
    margin-bottom: 11;
    z-index: 1;
}
.cardbox_one {
    position: relative;
    overflow: hidden;
    color:  black;
}

.cardbox_one::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: var(--allthimcolor);
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.cardbox_one:hover,
.cardbox_one:hover .cardbox_contenttext h3 a {
    color: white; 
}
.cardbox_one:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.cardbox_icons {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #efebeb;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}
.cardbox_icons:before {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, .20);
    border-radius: 50%;
    transition: .5s;
    transform: scale(.5);
    transition-delay: 0.3s;
    opacity: 0;
    content: '';
    z-index: -1;
}
.cardbox_icons span::before {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 40px;
    line-height: 80px;
}
.cardbox_contenttext {
    position: relative;
    display: block;
    margin-top: 24px;
}
.cardbox_contenttext h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
}
.cardbox_contenttext h3 a {
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.cardbox_contenttext p {
    margin: 0;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
/* .cardsection1 :hover {
    background-color: #eb292c;
} */
.carbox_hover :hover{
color: wheat;
}