
.devminds-carousellmaindiv {
    margin-top: -95px;
}

.devminds-carousellmaindiv .slick-track{
    height: 100vh !important;
    background-color: rgb(42, 38, 38);
}
.devminds-slidermaincardsize{
    height: 100vh;
}
.devminds-slidertext{
    color: var(--text-white);
    font-weight: 700;
    font-size: 70px;
    line-height: 1.1em;
    position: relative;
    bottom: 580px;
}
.devminds-spantext{
    color: var(--allthimcolor);
}
.devminds-contaitextmargin{
    margin-top: 150px;
}
.devminds-imageslider{
    width: 100%;
    margin-top: -154px;
    height: 100vh;
    background-color: #000000ed;
    background-blend-mode: overlay;
    opacity: 0.2;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.devminds-posiontext{
    position: absolute;
}
.devminds-textp{
    position: relative;
    bottom: 534px;
    color: var(--text-white);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.devminds-arrowmain{
    background-color: #00000054;
      font-size: 8px;
      border: black;
      color: white;
      border-radius: 50% !important;
      width: 56px !important;
      height: 56px;
  }
  .devminds-carausal-arrow-next{
    position: absolute;
      right: 75px;
      top: 55%;
  }
  .devminds-carausal-arrow-back{
    position: absolute;
      top: 55%;
      left:75px
  }
  
.devminds-ptagtext{
    margin-bottom: -31px;

}
  
 /* < 320 px */
 @media only screen and (max-width: 320px){
  
   
 }

/* > 760 px */
@media only screen and (min-width: 760px){
    .devminds-slidertext {
        color: var(--text-white);
        font-weight: 700;
        font-size: 49px;
        line-height: 67px;
        position: relative;
        left: 150px;
        bottom: 580px;
    }
    .devminds-textp {
        position: relative;
        bottom: 534px;
        left: 150px;
        color: var(--text-white);
    }
}

/* < 760 px */
@media only screen and (max-width: 760px){
    .devminds-slidertext {
        font-size: 31px;
        line-height: 40px;
        position: relative;
        bottom: 464px;
    }
    .devminds-carousellmaindiv .slick-track {
        height: 80vh !important;
    }
    .devminds-textp{
        position: relative;
        bottom: 425px;
        color: var(--text-white);
        padding: 8px;
    }
    .devminds-imageslider{
        width: 100%;
        margin-top: -154px;
        height: 80vh; 
    
    }
    .devminds-carausal-arrow-next{
        /* position: absolute;
        top: 43%;
        right: 15px; */
        display: none;
      }
      .devminds-carausal-arrow-back{
        /* position: absolute;
        top: 43%;
        left:15px */
        display: none;
      }
   
}
/* > 576 px */
@media only screen and (min-width: 660px){
  
   
}

/* > 768 px */
@media only screen and (min-width: 768px){
  
 
}
/* > 992 px */
@media only screen and (min-width: 992px){
  
}
/* > 1200 px */
@media only screen and (min-width: 1200px){
  
    
}
/* > 1400 px */
@media only screen and (min-width: 1400px){
    
  
}

@media (min-width: 600px){

}
