.devminds-tittlefirst{
    color: var(--allthimcolor);
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: var(--thm-font);
}
.devminds-videotitle{
    color: var(--text-white);
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    font-family: var(--thm-font-2);
}
.backgrounimagevideo{
    background-image: url("../../../images/imagebackgroun-imagevideo.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000ba;
    height: 567.8px;
    background-blend-mode: overlay;
    overflow: hidden;
    text-align: center;
    padding-top: 80px;
}
.devminds-contentHolder{
    margin-top: 50px;
}
.devminds-buttonstyle{
    height: 70px;
    border-radius: 50%;
    width: 88px;
    background-color: red;
    opacity: 0.8;
    border: none;
    color: black;
}
.devminds-iconstylevideo{
    color: var( --text-white);
}
.devmainds-modal{
    background-color: black !important;
}
.devmainds-modal .ant-modal-content{
    background-color:black !important;
}
.devmainds-modal .ant-modal-close{
    color: white !important;
}
.devmainds-modal .ant-modal-header{
    background-color: black !important;
}
.devmainds-modal .ant-modal-title{
    color: white !important;
}
.devmainds-iframevideo {
    width: 100%;
    height: 328px;
}
.devmainds-modal.ant-modal-content{
    height: 370px;
}